<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, I’m Anthony Anaedu. I’m a Software Developer, IT Specialist and Engineer in Nigeria. I started my career in Information Technology as a Computer Support Specialist in 2007 and since then I learned that I had a passion for developing and providing digital solutions to various problems. I went ahead to get an M.Tech. in Information Technology, and a B.Sc. in Electrical and Electronics Engineering. I’m currently working at Audax Solutions as an IT Specialist/Trainer.</p>
                </div>
                <div class="col-lg-4">
                    <p>I’m a very curious and dedicated professional who loves to solve complex problems. I love computer programming, hacking technology, beautiful UI/UX design, travelling, music, learning and sharing knowledge. I pride myself on my ability to quickly learn languages/tools best for solving a problem. When I’m not coding or building websites, I’m probably reading, having a deep conversation, travelling, teaching kids/young adults how to code or training business owners on how to use WordPress.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-chevron-down"></i> <strong>TELL ME MORE</strong>
                    </a>
                </div> 
            </div>
        </div>
    </section>