<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="public/img/profile.png" alt="">-->
                <div class="intro-text">
                    <span class="name">Hi, I'm Anthony</span>
                    <hr class="star-primary">
                    <span class="skills">{{ site.description }}</span>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
               <a href="#about" class="btn btn-lg btn-success">
                    <i class="fa fa-chevron-down"></i> <strong>TELL ME MORE</strong>
                </a>
            </div>
        </div>
    </div>
</header>